:root {
    --background: #d1d1d1;
    --text-primary: #121212;
    --text-secondary: #333333;
    --text-drawer: #000000;
    --accent: #7c4dff;
    --accent-hover: #6200ea; 
    --border: #a0a0a0;
    --background-container-card: #ffffff;
    --content-shadow: #c0c0c0;
    --text-title-primary: #000000;
    --data-label: #222222;
    --numeric-data: #a04040;
    --background-menu-item: #e8e8e8;
    --background-menu-item-label: #121212;
    --yellow-data: #000000;
}
[data-theme='dark'] {
--background: #0a0a0a;
--text-primary: #808080;
--text-secondary: #d4d4d4;
--text-drawer: #d4d4d4;
--accent: #9069f9;
--accent-hover: #5b4cbe; 
--border: #9069f9;
--background-container-card: #171717;
--content-shadow:#262626;
--text-title-primary: #ffffff;
--data-label: #d4d4d4;
--numeric-data: #fecaca;
--background-menu-item: #171717;
--background-menu-item-label: #FAFAFA;
--yellow-data: #ffe0b2;
}
